.app-container {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #158678;
  text-align: center;
  font-size: 30px;
  color: #ecdddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #409fe3;
  font-size: 50px;
  border: 1px solid black;
}

.display-red {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #95ab93;
  font-size: 50px;
  border: 1px solid red;
  color: red;
}

.buttons-wrapper {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px 0;
}

.button {
  width: 50px;
  height: 30px;
  background-color: #15a3e9;
  border: none;
  cursor: pointer;
}
